@import 'tailwindcss';
@plugin "@digital-go-jp/tailwind-theme-plugin";

@theme {
  /* Custom spacing */
  --spacing-spacing-unit-1: 8px;
  --spacing-file-items-x: 32px;
  --spacing-file-select-pt: 72px;
  --spacing-file-select-pb: 40px;
  --spacing-input-mb: 40px;
  --spacing-input-mt: 40px;

  /* Custom widths */
  --width-selected-file: 148px;
  --width-cancel-button: 160px;
  --width-geocoding-button: 240px;
  --width-save-file-button: 182px;

  /* Custom heights */
  --height-button-h: 56px;
  --height-file-input-h: 320px;
  --height-file-items-h: 56px;
  --height-file-description-h: 72px;

  /* Custom min-heights */
  --min-height-file-description-h: 240px;

  /* Custom min-widths */
  --min-width-button-min-w: 197px;
}

/* Override browser autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #1a1a1c;
}
